USE [master]
GO
/****** Object:  Database [db_ventas]    Script Date: 17/12/2017 04:29:49 p.m. ******/
CREATE DATABASE [db_ventas]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'db_ventas', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\db_ventas.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'db_ventas_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\db_ventas_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [db_ventas].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [db_ventas]
GO
/****** Object:  Table [dbo].[boleta_cab]    Script Date: 17/12/2017 04:29:49 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[boleta_cab](
	[idBoletaCab] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NULL,
	[direccion] [varchar](50) NULL,
	[fecha] [datetime2](7) NULL,
 CONSTRAINT [PK_boleta_cab] PRIMARY KEY CLUSTERED 
(
	[idBoletaCab] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[boleta_det]    Script Date: 17/12/2017 04:29:49 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[boleta_det](
	[idBoletaDet] [int] IDENTITY(1,1) NOT NULL,
	[idBoletaCab] [int] NULL,
	[idProducto] [int] NULL,
	[cantidad] [int] NULL,
 CONSTRAINT [PK_boleta_det] PRIMARY KEY CLUSTERED 
(
	[idBoletaDet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[categoria]    Script Date: 17/12/2017 04:29:49 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categoria](
	[idCategoria] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](50) NULL,
 CONSTRAINT [PK_categoria] PRIMARY KEY CLUSTERED 
(
	[idCategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[factura_cab]    Script Date: 17/12/2017 04:29:49 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[factura_cab](
	[idFacturaCab] [int] IDENTITY(1,1) NOT NULL,
	[ruc] [char](11) NULL,
	[razon_social] [varchar](50) NULL,
	[direccion] [varchar](100) NULL,
	[fecha] [datetime2](7) NULL,
 CONSTRAINT [PK_factura_cab] PRIMARY KEY CLUSTERED 
(
	[idFacturaCab] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[factura_det]    Script Date: 17/12/2017 04:29:49 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[factura_det](
	[idFacturaDet] [int] IDENTITY(1,1) NOT NULL,
	[idFacturaCab] [int] NULL,
	[idProducto] [int] NULL,
	[cantidad] [int] NULL,
 CONSTRAINT [PK_factura_det] PRIMARY KEY CLUSTERED 
(
	[idFacturaDet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[producto]    Script Date: 17/12/2017 04:29:49 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[producto](
	[idProducto] [int] IDENTITY(1,1) NOT NULL,
	[codigo] [varchar](10) NULL,
	[nombre] [varchar](20) NULL,
	[descripcion] [text] NOT NULL,
	[precio] [money] NULL,
	[idCategoria] [int] NULL,
 CONSTRAINT [PK_producto] PRIMARY KEY CLUSTERED 
(
	[idProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[usuario]    Script Date: 17/12/2017 04:29:49 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuario](
	[idUsuario] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NULL,
	[password] [varchar](50) NULL,
 CONSTRAINT [PK_usuario] PRIMARY KEY CLUSTERED 
(
	[idUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[boleta_cab] ON 

INSERT [dbo].[boleta_cab] ([idBoletaCab], [nombre], [direccion], [fecha]) VALUES (1, N'lucas', N'lima', CAST(N'2017-12-17T15:29:59.6999279' AS DateTime2))
SET IDENTITY_INSERT [dbo].[boleta_cab] OFF
SET IDENTITY_INSERT [dbo].[boleta_det] ON 

INSERT [dbo].[boleta_det] ([idBoletaDet], [idBoletaCab], [idProducto], [cantidad]) VALUES (1, 1, 1, 1)
SET IDENTITY_INSERT [dbo].[boleta_det] OFF
SET IDENTITY_INSERT [dbo].[categoria] ON 

INSERT [dbo].[categoria] ([idCategoria], [descripcion]) VALUES (1, N'Camaras')
INSERT [dbo].[categoria] ([idCategoria], [descripcion]) VALUES (2, N'Linea blanca')
SET IDENTITY_INSERT [dbo].[categoria] OFF
SET IDENTITY_INSERT [dbo].[factura_cab] ON 

INSERT [dbo].[factura_cab] ([idFacturaCab], [ruc], [razon_social], [direccion], [fecha]) VALUES (1, N'12345678912', N'Las Americas', N'La paxz', CAST(N'2017-12-17T13:50:06.6299191' AS DateTime2))
INSERT [dbo].[factura_cab] ([idFacturaCab], [ruc], [razon_social], [direccion], [fecha]) VALUES (2, N'12345678911', N'asdasd', N'asdasdsadsadasd', CAST(N'2017-12-17T13:58:53.0050772' AS DateTime2))
INSERT [dbo].[factura_cab] ([idFacturaCab], [ruc], [razon_social], [direccion], [fecha]) VALUES (3, N'2323       ', N'', N'', CAST(N'2017-12-17T14:01:08.7949196' AS DateTime2))
SET IDENTITY_INSERT [dbo].[factura_cab] OFF
SET IDENTITY_INSERT [dbo].[factura_det] ON 

INSERT [dbo].[factura_det] ([idFacturaDet], [idFacturaCab], [idProducto], [cantidad]) VALUES (1, 1, 1, 1)
INSERT [dbo].[factura_det] ([idFacturaDet], [idFacturaCab], [idProducto], [cantidad]) VALUES (2, 1, 1, 1)
INSERT [dbo].[factura_det] ([idFacturaDet], [idFacturaCab], [idProducto], [cantidad]) VALUES (3, 2, 1, 10)
SET IDENTITY_INSERT [dbo].[factura_det] OFF
SET IDENTITY_INSERT [dbo].[producto] ON 

INSERT [dbo].[producto] ([idProducto], [codigo], [nombre], [descripcion], [precio], [idCategoria]) VALUES (1, N'CLX1421', N'camara lg', N'camara full hd', 10000.0000, 1)
INSERT [dbo].[producto] ([idProducto], [codigo], [nombre], [descripcion], [precio], [idCategoria]) VALUES (2, N'CLX1422', N'refrigeradora lg', N'refrigeradora 20 m', 1200.0000, 2)
INSERT [dbo].[producto] ([idProducto], [codigo], [nombre], [descripcion], [precio], [idCategoria]) VALUES (3, N'NLgfpZZJrz', N'asdsad', N'asdsad', 2323.0000, 1)
SET IDENTITY_INSERT [dbo].[producto] OFF
SET IDENTITY_INSERT [dbo].[usuario] ON 

INSERT [dbo].[usuario] ([idUsuario], [nombre], [password]) VALUES (1, N'user', N'user')
SET IDENTITY_INSERT [dbo].[usuario] OFF
USE [master]
GO
